Backend_Node_js/NPM/* 
Backend_Node_js/1st_Express/node_modules/*
Backend_Node_js/1st_Express/package-lock.json
Backend_Node_js/1st_Express/package.json
Backend_Node_js/Mongoos_prac/node_modules/*
Backend_Node_js/Mongoos_prac/package-lock.json 
Backend_Node_js/Mongoos_prac/package.json 
Backend_Node_js/Connect_to_DB/node_modules/
Backend_Node_js/Connect_to_DB/node_modules/*
Backend_Node_js/Connect_to_DB/package-lock.json 
Backend_Node_js/Connect_to_DB/package.json 
package.json 
package-lock.json 
React/* 
